body {
  margin: 0;
  background-color: black;
}


.postcard {
background-color: white;
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 7px 7px 20px #555;
font-family: 'Handlee', cursive;
}

.text{

    text-align: left;    
    position: absolute;
    width: 200px;
    height: 500px;
    margin-left: 5%;
    margin-top: 5%;
    font-family: 'Handlee', cursive;
}

.logo {
    margin-right: 5%;
    background-color: white;
    position: absolute;
    margin-left: 55%;
    width: 200px;
    height: 400px;
}

ul
{
text-align: left;    
list-style-type: none;
margin-right: 2%;
margin-top: 25%;
background-color: white;
position: absolute;
margin-left: 55%;
width: 150px;
height: 200px;
text-decoration: underline;
color: grey;
line-height: 1.5;
}

li
{
margin-left: -20%;

}






button{
  background-color: grey;
  font-weight: bold;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  transform: rotate(-1.5deg);
  margin-top: 80%;
  margin-left: 35%;
}

.send-btn:hover {
  background: #ccc;
  top: 362px;
}

textarea:focus,
input:focus,
button:focus {
  outline-color: #ccc;
}